dl {
    dt, dd {
        line-height: 1.75;

        &:last-of-type {
            border-bottom: none;
        }
    }

    dd {
        padding-left: 1em;
        border-bottom: 1px dotted $description-list-border-color;
        @include text-overflow();
    }

    &.dl-horizontal {
        margin-bottom: 0;
    }

    &.dl-horizontal-high {
        dd {
            line-height: 2;
        }
    }
}

ul {
    &.files {
        li {
            line-height: 30px;
        }
    }
}

.list-group-item {
    &.active {
        .title {
            &:before {
                font-family: FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: '\f00c';
                color: #fff;
                margin-right: 1em;
            }
        }
    }
}