#sidebar-menu {
    max-height: calc(100vh - 90px);

    .menu-section {
        margin-bottom: 0;

        h3 {
            font-size: 1em;
            text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
            padding: 10px 0 10px 15px;
        }

        > ul {
            margin-top: 0;

            li {
                a {
                    transition: all .2s ease-in-out;
                    margin: 0;

                    span {
                        transition: all .2s ease-in-out;
                    }

                    .collapse-arrow {
                        width: 9px;
                        float: right;
                        font-size: .75em;
                        margin-top: .55em;
                        transition: all .2s ease-in-out;
                    }

                    &.collapsed {
                        .collapse-arrow {
                            transform: rotate(-90deg);
                        }
                    }

                    &:hover {
                        span {
                            margin-left: .5em;
                        }
                    }
                }

                &.active {
                    border-right-color: $box-focus-color;

                    > a {
                        box-shadow: none;
                        margin: 0;

                        span {
                            margin-left: .5em;
                        }
                    }

                    &:before {
                        background: $box-focus-color;
                    }
                }

                > ul {
                    background: #172D44;

                    > li {
                        padding-left: 2em;

                        a {
                            color: #e7e7e7;

                            &:hover {
                                color: #f2f5f7!important;
                            }
                        }

                        &.active {
                            > a {
                                span {
                                    margin-left: .5em;
                                }
                            }
                        }

                        // bullet
                        &:before {
                            background: #425668;
                            bottom: auto;
                            content: "";
                            height: 7px;
                            left: 1.5em;
                            margin-top: 18px;
                            position: absolute;
                            right: auto;
                            width: 7px;
                            z-index: 1;
                            border-radius: 50%;
                        }

                        // line
                        &:after {
                            border-left: 1px solid #223b52;
                            bottom: 0;
                            content: "";
                            left: 1.75em;
                            position: absolute;
                            top: 0;
                        }

                        &:last-child {
                            &:after {
                                bottom: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dropdown-menu {
    @include box-shadow(0, 5px, 15px, rgba(0, 0, 0, .25));

    > li {
        > a {
            padding: 5px 22px 5px 14px;

            i {
                margin-right: 5px;
            }
        }
    }
}