$rx-image-path: '/vendor/softworx/rocXolid/images';

$swx-green: #789b2d;
$swx-gray: #232323;

$text-white: #fff;

$navbar-li-active-color: #fff;

$right-panel-background-color: #f7f7f7;
$border-tab-default-color: #f7f7f7;
$border-tab-active-color: #ddd;
$border-tab-hover-color: #eee;

$row-hover-color: #eee;

$error-text-color: #a94442;
$red-background-color: #db2323;

$text-big-color: #2a3f54;

$description-list-border-color: #d3dce6;

$box-focus-color: #1abb9c;

$highlight-color: #f0ad4e;