@font-face {
    font-family: "summernote";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/summernote.eot?1d9aeaaff0a8939558a45be6cd52cd4c");
    src: url("../fonts/summernote.eot?1d9aeaaff0a8939558a45be6cd52cd4c#iefix") format("embedded-opentype"),
         url("../fonts/summernote.woff?1d9aeaaff0a8939558a45be6cd52cd4c") format("woff"),
         url("../fonts/summernote.ttf?1d9aeaaff0a8939558a45be6cd52cd4c") format("truetype");
}